@import '../../styles/vars';

.chatActions {
  max-height: 110px;
  width: 100%;
  display: flex;
  grid-column: 1 / -1;
}

.chatForm {
  width: 100%;
  display: flex;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: $box-shadow-1dp;
}

.chatInput {
  width: 100%;
  margin-right: 140px;
}


