@import '/src/styles/vars';

.leaderboard {
  width: 60vw;
  height: 80%;
  border-radius: 16px;
  overflow: auto;
  padding: 36px 48px;
  background-color: #fff;
}

.empty {
  font-weight: bold;
  text-align: center;
}
