.container {
  min-height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;

  .title {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
  }
}
