$color-primary: #6E00EE;
$color-primary-light: rgba(#6E00EE, .7);
$color-primary-variant: #060546;
$color-secondary: #C137A2;
$color-secondary-dark: #8D0073;
$color-background: #FAFAFA;
$color-success: #26D07C;
$color-error: #E40046;


$box-shadow-2dp: 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 3px 1px rgba(0, 0, 0, 0.12), 0px 1px 5px rgba(0, 0, 0, 0.2);
$box-shadow-1dp: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);;
