.form {
  width: 328px;
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  margin: auto;

  .group {
<<<<<<< HEAD
    height: 72px;
=======
>>>>>>> b8741ba (Формы Login и Registration)
    margin-bottom: 15px;
  }

  .group:last-of-type {
    margin-bottom: 0;
  }

  .message {
    height: 24px;
    text-align: center;
    color: red;
    font-size: 10px;
    margin-top: 0;
  }
  .title {
    margin-bottom: 28px;
    padding: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #1e1e1e;
  }
}
