.chat {
  position: absolute;
  padding: 12px;
  bottom: 0;
}

.chatMessages {
  overflow: auto;
  padding-bottom: 12px;
}

.chatMessage {
  display: flex;
  padding: 12px;
  width: fit-content;
  border-radius: 12px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

.messageInfo {
  display: flex;
  font-size: 14px;
  margin-bottom: 8px;
}

.messageSender {
  margin-right: 6px;
}
