@import '../../styles/vars';

.chat {
  position: absolute;
  padding: 12px;
  bottom: 0;
}

.chatMessages {
  overflow: auto;
  padding-bottom: 12px;
}

.chatMessage {
  display: flex;
  align-items: center;
  padding: 0 12px 0 12px;
  width: fit-content;
  border-radius: 12px;
}

.messageInfo {
  display: flex;
  font-size: 14px;
  font-weight: bold;
}

.messageSender {
  margin-right: 6px;
}
