.forum {
  padding: 0 20px;
  margin: 0 auto;
}

.forumCard {
  margin-bottom: 28px;
}

.forumButton {
  margin-left: auto;
  margin-bottom: 32px;
  margin-top: 46px;
}

.forumModal {
  padding: 46px;
  margin: auto;
}

.modalInput {
  width: 100%;
}

.modalButton {
  margin-top: 32px;
  margin-left: auto;
}