@import '../../styles/vars';

.header {
  width: 100%;
  height: 72px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  box-shadow: $box-shadow-1dp;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 72px;
  display: flex;
  margin: 0 auto;
  padding: 18px 20px;
  justify-content: space-between;
}

.nav {
  padding: 0;
  margin: 0;
  text-decoration: none;

  &__link {
    margin-right: 13px;

    &_btnType {
      width: 138px;
      height: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: capitalize;
      border: none;
      cursor: pointer;
      letter-spacing: 1.25px;
      background-color: transparent;
      transition: all 300ms ease-in-out;
      padding: 8px 16px;
      font-size: 12px;
      line-height: 18px;
      border: 1px solid rgba($color-primary, 0.24);
      border-radius: 18px;
      color: #ffffff !important;
      background-color: $color-primary;
    }

    &:hover {
      background-color: rgba($color-primary, 0.7) !important;
    }

    &_mr_2 {
      margin-right: 13px !important;
    }
  }

  &__link:last-of-type {
    margin-right: 0;
  }

  &__linkText {
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: #ffffff !important;
  }
}

.leftSide {
  display: flex;
}

.rightSide {
  display: flex;
}

.btnContainer {
  margin-right: 13px;
  width: 90px;
}

.btnContainer:last-of-type {
  margin-right: 0;
}
