.notification {
  width: 100%;
  display: flex;
}

.container {
  width: 300px;
  margin: auto;
  background-color: #fff;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

.text {
  text-align: center;
  padding-bottom: 30px;
}
